google-generativeai
python-dotenv
langchain
PyPDF2
chromadb
faiss-cpu
langchain_google_genai
fastapi
uvicorn
jinja2
numpy
python-multipart
pillow
langchain-community
pytesseract
axios 
streamlit
transformers
torch
requests